<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import numpy as np
np.sort(['3', '1', '2'])

array(['1', '2', '3'], dtype='<U1')

https://skilledinc.s3.amazonaws.com/resumes/eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpYXQiOjE1NTU0MTgwNTZ9.sENOMtNjt2Ags5bejvUfYSh8xgF1CP314ALXSweb-zk/2919_resume


CRISP-DM

Model Operationalization/Deployment
Model Life Cycle management -- ONNX
GDPR


Q7. You are working on a time series data set. 
Your manager has asked you to build a high accuracy model. 
You start with the decision tree algorithm, since you know it works fairly well on all kinds of data.
Later, you tried a time series regression model and got higher accuracy than decision tree model. 
Can this happen? Why?

Joins
ANSI-standard SQL specifies five types of JOIN clauses as follows:
	• INNER JOIN (a.k.a. “simple join”): Returns all rows for which there is at least one match in BOTH tables. This is the default type of join if no specific JOIN type is specified.
	• LEFT JOIN (or LEFT OUTER JOIN): Returns all rows from the left table, and the matched rows from the right table; i.e., the results will contain all records from the left table, even if the JOIN condition doesn’t find any matching records in the right table. This means that if the ON clause doesn’t match any records in the right table, the JOIN will still return a row in the result for that record in the left table, but with NULL in each column from the right table.
	• RIGHT JOIN (or RIGHT OUTER JOIN): Returns all rows from the right table, and the matched rows from the left table. This is the exact opposite of a LEFT JOIN; i.e., the results will contain all records from the right table, even if the JOIN condition doesn’t find any matching records in the left table. This means that if the ON clause doesn’t match any records in the left table, the JOIN will still return a row in the result for that record in the right table, but with NULL in each column from the left table.
	• FULL JOIN (or FULL OUTER JOIN): Returns all rows for which there is a match in EITHER of the tables. Conceptually, a FULL JOIN combines the effect of applying both a LEFT JOIN and a RIGHT JOIN; i.e., its result set is equivalent to performing a UNION of the results of left and right outer queries.
	• CROSS JOIN: Returns all records where each row from the first table is combined with each row from the second table (i.e., returns the Cartesian product of the sets of rows from the joined tables). Note that a CROSS JOIN can either be specified using the CROSS JOIN syntax (“explicit join notation”) or (b) listing the tables in the FROM clause separated by commas without using a WHERE clause to supply join criteria (“implicit join notation”).

Write a SQL query to find the 10th highest employee salary from an Employee table. 
Output should be the one number even if there are multiple records.

(Note: You may assume that there are at least 10 records in the Employee table.)

Select salary from
(SELECT distinct salary from Employee ORDER BY salary DESC limit 10) as emp
order by salary
limit 1;

SELECT TOP (1) Salary FROM
(
    SELECT DISTINCT TOP (10) Salary FROM Employee ORDER BY Salary DESC
) AS Emp ORDER BY Salary



-----WHERE rownumber = 10





Write a function that takes in two sorted lists and outputs a sorted list that is their union. 
First solution which will come to your mind is to merge two lists and sort them afterwards. 

a = [1, 3, 5, 7, 9]
b = [2, 4, 6, 8, 10]
np.sort(['3', '1', '2'])

def sortLists(a, b):
  new = []
  for i in len(range(a)):
    new.append(str(a[i]))
  for i in len(range(b)):
    new.append(str(b[i]))
  new = np.sort(new)
  return new



def return_union(list_a, list_b):
    return sorted(list_a + list_b)

  def two_sorted(a,b):
	c = a + b
  set(c)
    return c 
  ------------------------------------------------------------------------------------
  def return_union(list_a, list_b):
#Initializing length variables   
 len1 = len(list_a)
 len2 = len(list_b)
    
#Creating an empty list which has length equal to sum of both the lists
final_sorted_list = [] 

#initializing counter variables
    j = 0
    k = 0

#Traverse the elements of a list via a for loop
#This works well if you only need to read the elements of the list. But if you want to write or update the elements, you need the indices (i). A common way to do that is to combine the functions range and len. 
#This loop traverses the list and updates each element. len returns the number of elements in the list. range returns a list of indices from 0 to n-1, where n is the length of the list. Each time through the loop i gets the index of the next element. The assignment statement in the body uses i to read the old value of the element and to assign the new value.

    for i in range(len1+len2): 
#Case 1: If the length of list a & list b is the same, we can extend list to the final sorted list
        if k == len1:
            final_sorted_list.extend(list_b[j:])
            break
        elif j == len2:
            final_sorted_list.extend(list_a[k:])
            break
#Case 2: Else if the length of a list is smaller than the other then append it  and increment to the next element of the list till it ends    
	 elif list_a[k] < list_b[j]:
            final_sorted_list.append(list_a[k])
            k += 1
        else:
            final_sorted_list.append(list_b[j])
            j += 1
    return final_sorted_list